<div class="container">
  

    <form novalidate="novalidate" class="form-horizontal css-form" name="create_form">
	<panel class="panel panel-default">
	    <!-- Heading del pannello -->
	     <div class="panel-heading">
		      <h3 class="panel-title">Create machine</h3>
		 </div>    
	    <!-- Body del pannell -->	    
	     <div class="panel-body">
	     
		        <div class="control-group">  
		            <label class="control-label" for="inputId">Id:</label>
	
		            <div class="controls">  
		                <input type="text" id="inputId" ng-model="new_machine.mach_identnr" readonly/>
		           </div>  
				 </div> 
		        
	        <div class="control-group">
	            <label class="control-label" for="inputName">Name:</label>
	
	            <div class="controls">
	                <input name="nick_name" type="text" id="inputName" ng-model="new_machine.mach_nick_name" required/>
	                <span class="error" ng-show="create_form.nick_name.$error.required">*Required</span>
	            </div>
	        </div>
	      
	        <div class="control-group">
	            <label class="control-label" for="inputBrand">Brand:</label>
	
	            <div class="controls">
	                <input type="text" id="inputBrand" ng-model="new_machine.mach_brand"/>
	            </div>
	        </div>
	       
	        <div class="control-group">
	            <label class="control-label" for="inputCategory">Category:</label>
	
	             <div class="controls">
	                 <select name="machineCategory" ng-options="categ.desc for categ in availCategories" 
			          ng-model="new_machine.machineCategory" ng-change="getTypologies(new_machine.machineCategory.id)">
			          <option value="">{{new_machine.machineCategory.desc}}</option>
			        </select>
	             </div>
	           
	        </div>
	     
	        <div class="control-group">
	            <label class="control-label" for="inputTypologySelect">Change Typology:</label>
	               <div class="controls">
	                 <select ng-options="typology.desc for typology in availTypologies" 
			          ng-model="new_machine.machineTypology">
			          <option value=""></option>
			        </select>
	            	</div>
	        </div>
	      
	         <div class="control-group">
	            <label class="control-label" for="inputModel">Model:</label>
	
	            <div class="controls">
	                <input type="text" id="inputModel" ng-model="new_machine.mach_model"/>
	            </div>
	        </div>
	       
	         <div class="control-group">
	            <label class="control-label" for="inputManufact">Manufact. Reg:</label>
	
	            <div class="controls">
	                <input name="manufact_reg" type="number" id="inputManufact" 
	                 min="1960"   max="2040"
	                 ng-model="new_machine.mach_manufact_registr" required/>
	                <span class="error" ng-show="create_form.manufact_reg.$error.required">* Required</span>
	                <span class="error" ng-show="create_form.manufact_reg.$error.number">* Not a valid number</span>
	            </div>
	        </div>
	        
	        <div class="control-group">
	            <label class="control-label" for="inputPlate">Plate:</label>
	
	            <div class="controls">
	                <input type="text" id="inputPlate" ng-model="new_machine.mach_plate"/>
	            </div>
	        </div>
	        
	         <div class="control-group">
	            <label class="control-label" >Combination Type</label>
	
	            <div class="controls">
	               <select ng-options="comb.desc for comb in machCombTypes " ng-model="new_machine.machCombType">
	               <option value="">{{new_machine.machCombType.desc}}</option>
	               </select>
	                
	            </div>
	        </div>
	      
	      
	            <div class="control-group">
	            <label class="control-label" for="inputVin">Vin</label>
	
	            <div class="controls">
	                <input type="text" id="inputVin" ng-model="new_machine.mach_vin"/>
	            </div>
	          </div>
	       
	        <div class="control-group">
	            <label class="control-label" for="inputRemarks">Remarks:</label>
	
	            <div class="controls">
	                <input type="text" id="inputMachSizeTypeFactoryRemarks" ng-model="new_machine.mach_remarks"/>
	            </div>
	        </div>
	       
	        </div>
	      
        </panel>
        <div class="panel panel-default">
		    <div class="panel-heading">
		      <h3 class="panel-title">Power list</h3>
		    </div>
		    <div class="panel-body">
			    <table class="table table-striped table-condensed">
			      <tr>
			            <th style="min-width: 80px;">power code</th>
			             <th style="min-width: 80px;">description</th>
			            <th style="min-width: 80px;">power</th>
			            
			            <th style="width:20px;">&nbsp;</th>
			            <th style="width:20px;">&nbsp;</th>
			        </tr>
			        <tr ng-repeat="size in new_machine.machineSizeList">
			         <td>    
			         <div>
	                    <select ng-options="sizeType.code for sizeType in availSizeType" 
			               ng-model="size.machineSizeType">
			              <option value="">{{size.machineSizeType.code}}</option>
			            </select>
	            	  </div>
	            	  </td>
	            	  <td>	
	            	    <div>
	                      <select ng-options="sizeType.descr for sizeType in availSizeType" 
			                ng-model="size.machineSizeType">
			                <option value="">{{size.machineSizeType.descr}}</option>
			              </select>
	            	    </div>
			          </td> 
			          <td>	
	            	    <div>
	                      <select ng-options="sizeType.um for sizeType in availSizeType" 
			                ng-model="size.machineSizeType">
			                <option value="">{{size.machineSizeType.um}}</option>
			              </select>
	            	    </div>
			          </td> 
			           
			          <td>
			            <input type="number" id="size_amount" ng-model="size.amount"/>
			          </td>
			          
			          <td>
			            <a ng-click="deleteSizeItem($index)" class="btn btn-small">Remove</a>
					  </td>
			        </tr>
			    </table> 
			    
			    
			    <div class="control-group">
                   <div class="controls">
                       <a ng-click="addSizeItem()" class="btn btn-small">AddItem</a>
                   </div>
               </div>
		     </div>
		</div>
		
		<!-- pannello azionamenti -->
		<div class="panel panel-default">
           <div class="panel-heading">
		    <h3 class="panel-title">Driving list</h3>
		   </div>
		  <div class="panel-body">
		    <table class="table table-striped table-condensed">        
		        <tr>
		            <th style="min-width: 80px;">code </th>
		            <th style="width:20px;">&nbsp;</th>	
		        </tr>
		        <tr ng-repeat="drive in new_machine.machineDrivingList">
		            <td>

			            <div>
				            <select ng-options="someDrive.descr for someDrive in availDriveType "
				                    ng-model = "new_machine.machineDrivingList[0]">
				            <option value="">{{new_machine.machineDrivingList[0].code}}</option>
				            </select>
			            </div>
		            </td>
		            
		        </tr>
	        </table>
	        
		</div>
		
		 <div class="control-group">
            <div class="controls">
       
                  <a ng-click="cancel()" class="btn btn-small">cancel</a>
                 <span ng-show="validateData()">
                <a ng-click="createMachine()" class="btn btn-small btn-primary" >create</a>
               </span> 
            </div>
        </div>
		

   		<br/>
      
        
    </form>
</div>
