<div class="container">
  

    <form novalidate="novalidate" class="form-horizontal">
	<panel class="panel panel-default">
	    <!-- Heading del pannello -->
	     <div class="panel-heading">
		      <h3 class="panel-title">Machine details</h3>
		 </div>    
	    <!-- Body del pannell -->	    
	     <div class="panel-body">
	        <div class="control-group">
	            <label class="control-label" for="inputId">Id:</label>
	
	            <div class="controls">
	                <input type="text" id="inputId" ng-model="machines[0].mach_identnr" readonly/>
	            </div>
	        </div>
	        
	        <div class="control-group">
	            <label class="control-label" for="inputName">Name:</label>
	
	            <div class="controls">
	                <input type="text" id="inputName" ng-model="machines[0].mach_nick_name"/>
	            </div>
	        </div>
	        <div class="control-group">
	            <label class="control-label" for="inputBrand">Brand:</label>
	
	            <div class="controls">
	                <input type="text" id="inputBrand" ng-model="machines[0].mach_brand"/>
	            </div>
	        </div>
	        
	        <div class="control-group">
	            <label class="control-label" for="inputCategory">Category:</label>
	
	            <div class="controls">
	                <input type="text" id="inputCategory" ng-model="machines[0].machineCategory.desc" readonly/>
	            </div>
	         
	        </div>
	        <!--  
	        <div class="control-group">
	            <label class="control-label" for="inputTypology">Typology:</label>
	
	            <div class="controls">
	                <input type="text" id="inputTypology" ng-model="machines[0].machineTypology.desc" readonly/>
	            </div>
	              
	        </div>
	        -->
	        
	        <div class="control-group">
	        <label class="control-label" for="inputTypologySelect">Change Typology:</label>
	         <div>
	                 <select ng-options="typology.desc for typology in availTypologies" 
			          ng-model="machines[0].machineTypology">
			          <option value="">{{machines[0].machineTypology.desc}}></option>
			        </select>
	            	</div>
	        </div>
	         <div class="control-group">
	            <label class="control-label" for="inputModel">Model:</label>
	
	            <div class="controls">
	                <input type="text" id="inputModel" ng-model="machines[0].mach_model"/>
	            </div>
	        </div>
	         <div class="control-group">
	            <label class="control-label" for="inputManufact">Manufact. Reg:</label>
	
	            <div class="controls">
	                <input type="text" id="inputManufact" ng-model="machines[0].mach_manufact_registr"/>
	            </div>
	        </div>
	        <div class="control-group">
	            <label class="control-label" for="inputPlate">Plate:</label>
	
	            <div class="controls">
	                <input type="text" id="inputPlate" ng-model="machines[0].mach_plate"/>
	            </div>
	        </div>
	          <div class="control-group">
	            <label class="control-label" for="inputManufact">Manufact. Reg:</label>
	
	            <div class="controls">
	                <input type="text" id="inputManufact" ng-model="machines[0].mach_manufact_registr"/>
	            </div>
	        </div>
	            <div class="control-group">
	            <label class="control-label" for="inputVin">Vin</label>
	
	            <div class="controls">
	                <input type="text" id="inputVin" ng-model="machines[0].mach_vin"/>
	            </div>
	        </div>
	        
	        <div class="control-group">
	            <label class="control-label" for="inputRemarks">Remarks:</label>
	
	            <div class="controls">
	                <input type="textarea" id="inputRemarks" ng-model="machines[0].mach_remarks"/>
	            </div>
	        </div>
	        </div>
        </panel>
        <div class="panel panel-default">
		    <div class="panel-heading">
		      <h3 class="panel-title">Power list</h3>
		    </div>
		    <div class="panel-body">
			    <table class="table table-striped table-condensed">
			      <tr>
			            <th style="min-width: 80px;">power code</th>
			             <th style="min-width: 80px;">description</th>
			            <th style="min-width: 80px;">power</th>
			            
			            <th style="width:20px;">&nbsp;</th>
			            <th style="width:20px;">&nbsp;</th>
			        </tr>
			        <tr ng-repeat="size in machines[0].machineSizeList">
			            <td>{{size.masi_size_code}}</td>			           
			            <td>{{size.masi_desc}}</td>
			             <td><input type="text" id="inputVin" ng-model="size.masi_amount"/></td>
			            <td><a ng-click="deleteSizeItem(size.masi_size_code)" class="btn btn-small">remove</a>
						</td>
			        </tr>
			    </table> 
		     </div>
		</div>
		
		<!-- pannello azionamenti -->
		<div class="panel panel-default">
           <div class="panel-heading">
		    <h3 class="panel-title">Driving list</h3>
		   </div>
		  <div class="panel-body">
		    <table class="table table-striped table-condensed">        
		        <tr>
		            <th style="min-width: 80px;">code </th>
		            <th style="width:20px;">&nbsp;</th>	
		        </tr>
		        <tr ng-repeat="drive in machines[0].machineDrivingList">
		            <td>{{drive.madr_driv_code}}</td>
		             <td><a ng-click="deleteDriveItem(drive.madr_driv_code)" class="btn btn-small">remove</a></td>
		        </tr>
	        </table>
		  </div>
		</div>
		

   		<br/>
      
        <div class="control-group">
            <div class="controls">
                <a ng-click="cancel()" class="btn btn-small">cancel</a>
                <a ng-click="updateMachine()" class="btn btn-small btn-primary">update machine</a>
            </div>
        </div>
    </form>
</div>
